<%#
  Copyright 2019 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h1>Kiosk: Next Steps</h1>

<section>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="l-panel">
        <%= render "reservation_card", reservation: @reservation %>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <div class="l-panel">
        <p>
          Congratulations! You've just reserved a <%= @reservation.membership %> membership and it's currently held by
          <%= link_to $member_services_email, "mailto:#{$member_services_email}" %>.
        </p>

        <p>
          Ask one of our helpers to <strong>transfer this membership to an email address you control</strong> to be able
          to access it through the members website in the future.
        </p>

        <p>
          Make sure you create a down payment towards this membership in order to keep it. You can either do this
          by credit card on this device, or by approaching one of our friendly helpers to pay with Cash or Cheque.
        </p>

        <p><%= link_to "Pay with credit card", new_kiosk_reservation_charge_path %></p>

        <p><%= link_to "Close tab and pay by cash or cheque", "#", class: "close-window" %></p>

        <p><%= link_to "Close this tab", "#", class: "close-window" %></p>
      </div>
    </div>
  </div>
</div>
